<div class="top-nav">
  <div class="container">
    <a href="#">pinpoint.io</a>
  </div>
</div>
<div style="height: 100px"></div>
<div class="info-content container" style="text-align: center">
  <div style="display: inline-block; margin-left: auto; margin-right: auto">
    <a href="#/info/developers">
      <div class="info-box">
        Developers
      </div>
    </a>
    <div style="float: left; width: 80px">&nbsp;</div>
    <a href="#/info/companies">
      <div class="info-box">
        Companies
      </div>
    </a>
  </div>
  <br class="clearfix" />
</div>

