<div class="container main">
  <div class="row">
    <div class="span3 sidebar">

    </div>
    <div class="span9">
      <a href="#/logout" class="pull-right">Sign Out</a></br>

      <div class="navigation">
        <ul>
          <li class="matches"><a href="#/matches">Matches</a></li>
          <li class="explore"><a href="#/explore">Explore</a></li>
          <li class="profile"><a href="#/profile">Profile</a></li>
        </ul>
      </div>
      <div class="content"></div>
    </div>
  </div>
</div>

