<% company = match.get("company") %>
<li class="company">
  <div>
    <img class="logo" src="http://b.vimeocdn.com/ps/423/361/4233611_300.jpg">
    <div class="main">
      <h2><%= company.name %></h2>
      <div class="description">
        <%= company.description %>
      </div>
      <ul class="tags l-horizontal-list">
        <% _.each(match.combinedSkillAndIndustryTags(), function(tag) { %>
          <li><%= tag %></li>
        <% }); %>
      </ul>
      <br class="clearfix" />
      <ul class="badges l-horizontal-list">
        <li><img src="/images/symbly_gamification_badges/acorn.png" /></li>
        <li><img src="/images/symbly_gamification_badges/balloon.png" /></li>
        <li><img src="/images/symbly_gamification_badges/sun.png" /></li>
        <li><img src="/images/symbly_gamification_badges/coffee.png" /></li>
        <li><img src="/images/symbly_gamification_badges/food.png" /></li>
      </ul>
      <br class="clearfix" />
    </div>
    <div class="cta">
      <button class="button green show-details">Show Me Details!</button>
      <button class="button uninterested-company">Not Interested</button>
    </div>
    <br class="clearfix" />
  </div>
  <div class="details" style="display: none;">
    <% _.each(match.get("interest_decisions"), function(interest_decision) { %>
      <div class="requisition">
        <br />
        <%= interest_decision.requisition.name %>
        <button class="button green interested" data-interest-decision-id="<%= interest_decision.requisition.id %>">I'm interested!</button>
        <button class="button uninterested" data-interest-decision-id="<%= interest_decision.requisition.id %>">Not for me</button>
        <br/ >
      </div>
    <% }) %>
  </div>
</li>

