.matches {
  li.company {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dashed black;
    &:last-child {
      border-bottom: 0px;
    }
    .logo {
      float: left;
      margin-top: 0px;
      width: 100px;
      height: 100px;
    }
    .main {
      float: left;
      width: 625px;
      padding-left: 20px;
      padding-right: 170px;
      h2 {
        margin-top: 0px;
      }
      .tags {
        margin-top: 10px;
        li {
          padding: 4px 8px;
          margin-right: 10px;
          border: 1px solid #eee;
        }
      }
      .badges {
        margin-top: 10px;
        img {
          width: 50px;
          height: 50px;
          padding-right: 10px;
        }
      }
    }
    .cta {
      position: absolute;
      top: 30px;
      right: 0px;
      width: 160px;
      text-align: center;
      button {
        margin-bottom: 16px;
      }
    }
  }
}

